/*
 * Eclipse related patches for the theme.
 *
 * Everything that we can patch from the theme should be patched here,
 * instead of at the application level. This way we also ensure the look-and-feel
 * of Eclipse applications which are not instructed to use "application-patches.css".
 */

/*
 * Eclipse css sets the padding of toolbar buttons to 0, resulting in a cramped toolbar.
 * We prevent this with a min-width.
 *
 * See org.eclipse.swt/Eclipse SWT PI/gtk/org/eclipse/swt/internal/gtk/swtgtk_320.css
 */
toolbar toolbutton button {
    min-width: 20px;
}

/*
 * Prevent progress bars from clipping their progress bar area,
 * since a wrong size hint is computed during the call:
 *
 * org.eclipse.jface.dialogs.ProgressMonitorDialog.createDialogArea(Composite)
 *
 * The hint is too small for the Clearlooks-Phenix theme for GTK 3.22,
 * which sets minimum height for progress bars to 9px.
 *
 * See JEP-668.
 */

progressbar.horizontal trough,
progressbar.horizontal progress {
	min-height: 8px;
}

progressbar.horizontal progress,
row progressbar progress,
row:hover progressbar progress,
row:selected progressbar progress,
row:selected:focus progressbar progress {
	min-height: 9px;
}

/**
 * Remove extra padding added to cells in tables.
 *
 * See JEP-552 and JEP-504.
 */
.cell {
	padding: 1px;
}

/*
 * Add extra spacing around radio buttons and check boxes.
 *
 * See JEP-665.
 */

check, radio {
  margin: 0 2px;
}

/*
 * Border of tab folders overlap with borders of entities in the tabs.
 *
 * See JEP-665.
 */

notebook.frame {
    border: none;
}

/*
 * Without the border of the tab folder (removed above),
 * the left-most tab does not have a left border due to a negative left margin.
 *
 * We set the margin to 0 to prevent this.
 */
notebook header.top tab {
	margin-left: 0;
}

notebook viewport {
	background-color: @theme_bg_color;
}

notebook tab {
	border-color: @border_color;
	background-color: transparent;
}

notebook tab * {
	background-color: transparent;
}

/*
 * Border of groups overlap with borders of entities in the group.
 *
 * See JEP-665.
 */

scrolledwindow frame {
	border: none;
}

/*
 * Fix for tab height.
 *
 * See JEP-665.
 */
notebook box label {
    padding-bottom: 2px;
    padding-top: 2px;
}


/*
 * Inline color definitions for tooltip background and foreground colors,
 * since SWT is not able to parse the referenced colors definitions from "gtk.css".
 *
 * See JEP-662.
 */
tooltip,
tooltip.background,
.tooltip,
.tooltip.background {
	background-color: #fcfcfc;
	color: #000000;
}

/*
 * Reduce padding in spin buttons, so that they aren't huge.
 *
 * See JEP-677.
 */
spinbutton button {
    padding: 2px 5px;
}


/*
 * Reduce padding between menu items, so that menus don't take so much space.
 *
 * See JEP-674.
 */
menu menuitem,
.menu menuitem {
	padding: 3px 4px;
}

/*
 * Reduce the size of combo boxes.
 *
 * See JEP-675.
 */
combobox entry.combo,
combobox button.combo {
	padding: 4px;
}

/*
 * Prevent borders from being drawn for labels.
 *
 * See JEP-679.
 */
entry.flat {
    border: none;
}

/*
 * Remove border from horizontal scrollbar, to be consistent with vertical scrollbar.
 *
 * See JEP-687.
 */
scrollbar.horizontal {
    border-width: 0px;
}

/*
 * We don't want focused buttons to have a different background than normally.
 *
 * See JEP-400.
 */
button:focus {
	background-image: -gtk-gradient (linear,
	                  left top,
	                  left bottom,
	                  from (@button_gradient_a),
	                  color-stop (0.50, @button_gradient_b),
	                  color-stop (0.50, @button_gradient_c),
	                  to (@button_gradient_d));
	background-color: transparent;
}

/*
 * Don't draw a border at the junction node where scroll bars meet.
 *
 * See JEP-688.
 */
scrolledwindow junction.frame {
	border: none;
}


/*
 * Hide toolbar button selection border for focused buttons.
 *
 * See CR-119015.
 */
/* hide border for clicked toolbar buttons */
toolbar toolbutton button.flat:focus {
    border-image: none;
}

/* but show the border if on hover or if toggled */
toolbar toolbutton button.flat:hover,
toolbar toolbutton button.flat:checked {
	border-radius: 3px;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: transparent;
}

toolbar toolbutton button.flat:hover {
	border-image: url("../img/border-focused.svg") 3 3 4 3 / 3px 3px 4px 3px repeat;
}

toolbar toolbutton button.flat:checked {
	border-image: url("../img/border-inline-button.svg") 3 3 4 3 / 3px 3px 4px 3px repeat;
}

/*
 * Fix button alignment and padding in file open dialogs,
 *
 * See JEP-123, and commit c03d0c26165a07580619605459db474dbfa64bd1.
 */
button {
	padding: 3px 4px 3px 4px;
}

/*
 * Grey-out Eclipse toolbar icons when disabled.
 *
 * See CR-119055.
 */
*:disabled {
	-gtk-icon-effect: dim;
}

/*
 * Ensure toolbars, and also by extension part stack tabs, have some minimal height.
 *
 * See JEP-401, JEP-678.
 */
toolbar {
    min-height: 23px;
}

/*
 * Give some padding to toolbars and toolbar buttons,
 * so that toolbar buttons don't appear cramped by their borders.
 *
 * See JEP-401.
 */
toolbar {
	padding-top: 2px;
	padding-bottom: 2px;
}

/*
 * Unset the too-large toolbar button padding specified in the theme,
 * since SWT sets the padding on application level only for Adwaita.
 *
 * See JEP-695.
 */
toolbar.inline-toolbar button,
toolbar.primary-toolbar button,
toolbar.primary-toolbar button:active,
toolbar.horizontal button,
toolbar.horizontal button:active,
toolbar toolbutton button,
.titlebar .linked.raised button,
.titlebar .linked.raised button:active {
	padding: 1px;
}

toolbar button,
toolbar.primary-toolbar button,
toolbar.horizontal button:hover,
toolbar.horizontal button:active {
	padding: 1px;
}

.path-bar button,
.linked.path-bar > button,
.path-bar button image,
.path-bar button label {
	padding: 0px;
}
/*
 * Fix missing toolbar separators.
 *
 * See JEP-896.
 */
separator {
  background: shade(@border_color, 1.30);
  min-width: 1px;
  min-height: 1px;
}

/*
 * Fix missing radio buttons and check boxes in Eclipse help browser (that is based on GTK+ web browser).
 *
 * See JEP-1031.
 */
check,
radio {
	min-width: 16px;
	min-height: 16px;
	margin: 0px 0px;
}

/*
 * Fix missing text in some tooltips in Eclipse 4.12.
 *
 * See https://bugs.eclipse.org/bugs/show_bug.cgi?id=545923.
 */
tooltip *,
.tooltip * {
	color: @theme_tooltip_fg_color;
}

*:link {
	color: @link_color;
}

*:link:visited {
	color: @visited_link_color;
}
